<!DOCTYPE html>
<html style="background-color: rgb(0, 72, 114)">

<head>
	<title>AMS Automatization</title>
	<link rel="stylesheet" href="../static/style.css" type="text/css" />
	<link rel="icon" type="image/x-icon" href="icon.ico">
	
	<script>
	function autocheck(){
		var chk1 = document.getElementById("alertmanager");
		var chk2 = document.getElementById("grafana");
  		if( chk2.checked ) {
    			chk1.checked = true;
  		}
	}
	
		
	
	</script>
</head>

<body style="background-color: rgb(0, 72, 114)">
	
	<div style="background-color: rgb(0, 72, 114); text-align: center; font-size: 2em;">
		<h1 style="color: white">AMS Automatization</h1>
	</div>
	<div style="background-color: rgb(0, 72, 114); text-align: left; font-size: 2em; padding-bottom: 20px;">
		<div style="text-align: center;">
			<label for="subtitle" class="container"
				style="text-align: center; padding-bottom: 30px; color: rgb(161, 142, 142); color: white; font-size: 1em;">
				Select the tools to be installed
			</label><br>
		</div>
		<div style="padding-top: 20px; padding-bottom: 50px;">
			<form action="/install" method="post">
				<div style="padding-left: 34%;">
					<div>
						<label for="ip_host" class="inputlabel" style="padding-left: 0px"> IP Host</label>
						<input type="text" id="ip_host" name="ip_host" size="25" class="inputtext" required/>
					</div>
					<div class="ex3">
						<label for="webapp" class="container" style="color: white"> Web App </label>
						<input id="webapp" name="webapp" type="checkbox"
							style="float: left; margin-top: 17px; width: 25px; height: 25px;" />
					</div>
					<div class="ex3">
						<label for="elk" class="container" style="color: white"> ELK </label>
						<input id="elk" name="elk" type="checkbox"
							style="float: left; margin-top: 17px; width: 25px; height: 25px;" />
						<div class="hide3">
							<label for="password" class="inputlabel"> Password </label>
							<input type="password" id="password" name="password" size="25" class="inputtext" />
						</div>
					</div>
					<div class="ex3">
						<label for="prometheus" class="container" style="color: white"> Prometheus </label>
						<input id="prometheus" name="prometheus" type="checkbox"
							style="float: left; margin-top: 17px; width: 25px; height: 25px;" />
					</div>
					<div class="ex3">
						<label for="alertmanager" class="container" style="color: white"> Alert Manager </label>
						<input id="alertmanager" onclick="autocheck()" name="alertmanager" type="checkbox"
							style="float: left; margin-top: 17px; width: 25px; height: 25px;" />
						<div class="hide3">
							<label for="url" class="inputlabel"> WebWook URL</label>
							<input type="text" id="url" name="url" size="25" class="inputtext"></label>
							<br>
							<label for="channel" class="inputlabel"> Channel Name</label>
							<input type="text" id="channel" name="channel" size="25" class="inputtext" />
						</div>
					</div>
					<div class="ex3">
						<label for="grafana" class="container" style="color: white"> Grafana </label>
						<input id="grafana" onclick="autocheck()" name="grafana" type="checkbox"
							style="float: left; margin-top: 17px; width: 25px; height: 25px;" />
					</div>
				</div>
				<div style="text-align: center; padding-top: 80px;">
					<input type="submit" class="button buttonsh" value="Install" />
				</div>
			</form>
		</div>
	</div>

</body>

</html>
