body {
  background-color: rgb(255, 255, 255);
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2em;
}

.button {
  border-radius: 12px;
  background-color: rgb(10, 99, 150);
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.buttonsh:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
  padding-left: 10px;
  font-size: x-large;
}

.inputlabel{
  font-size: x-large;
  color: white;
  padding-left: 50px;
}

.inputtext{
  font-size: x-large;
}


.ex3 .hide3 {
  width: 50%;
  display: none;
  height: 0; /* any arbitrary height but best at the minimum initial height you would want. */
  opacity: 0;
  transition: all 0.5s ease;
  border-left: 1px;
  border-right: 1px;
}
.inner3 {
  padding: 10px;
}
.ex3 input[type="checkbox"]:checked + .hide3 {
  height: 50px;
  opacity: 100;
  display: table;
  overflow: hidden;
}